body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
}

#container {
    max-width: 300px;
    margin: 20px auto;
}

#loginContainer,
#signupContainer,
#modifyContainer {
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #19225f;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}